/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
/* @import 'theme'; */

@font-face {
  font-family: 'Cera Pro Black Italic';
  src: url('/assets/fonts/Cera Pro Black Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Cera Pro Black';
  src: url('/assets/fonts/Cera Pro Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Cera Pro Bold';
  src: url('/assets/fonts/Cera Pro Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Cera Pro Light';
  src: url('/assets/fonts/Cera Pro Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Cera Pro Medium';
  src: url('/assets/fonts/Cera Pro Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Cera Pro Regular Italic';
  src: url('/assets/fonts/Cera Pro Regular Italic.ttf') format('truetype');
}

body {
  font-family:  'Cera Pro Light', 'Cera Pro Medium', 'Cera Pro Regular Italic', 'Cera Pro Black Italic', 'Cera Pro Black', 'Cera Pro Bold';
  height: 100vh;
  /* overflow: hidden; */
}

a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
