.mat-stepper-vertical {
  display: block;
  position: absolute;
  top: 40%;
}

.stepper-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.stepper-content {
  margin-right: 20px;
}

.step-content {
  flex: 1;
}

.generic-stepper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mdc-card{
  width: 949px;
  padding: 50px 65px;
  background: #F7F4F3;
  border-radius: 15px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: pink;
}
.stepper-1-form{
  display: flex;
  justify-content: flex-start;
  gap: 110px;
  margin-top: 24px;
}
.stepper-1-header-info{
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -0.02em;
  color: #FF5E3A;
  margin-bottom: 76px;
}
.stepper-1-parent{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stepper-1-warning-message{
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #0D0F1E;
}


.stepper-3{
  display: flex;
  flex-direction: column;
}
.stepper-3-upper{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.stepper-3-address-form-left{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap:"30px";
}
.stepper-3-address-form-right{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap:"30px";
}



.stepper-4-bottom-text{
  margin-left: 24px;
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #FF5E3A;
}



.stepper-5-address-info{
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #FF5E3A;
}

.stepper-5-address-form{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.stepper-5-address-form-left{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  gap:"30px";
}
.stepper-5-address-form-right{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  gap:"30px";
}

.address-form-field-border {
  border: 2px solid #FF5E3A;
  border-radius: 5px;
}







.mat-mdc-button:not(:disabled) {
  color: #FFFFFF;
}


.w-100-p{
  width: 100%;
}
.mt-24{
  margin-top: 24px;
}

.mb-24{
  margin-bottom: 24px;
}

.click-next{
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  border-radius: 50px;
  text-align: center;
  background: #FF5E3A;
  color: #FFFFFF;
  padding: 24px;
}

.submit-button{
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  border-radius: 50px;
  text-align: center;
  background: #FF5E3A;
  color: #FFFFFF;
  padding: 40px 100px;
}
