.mat-stepper-vertical {
  display: block;
  position: absolute;
  top: 40%;
}

.stepper-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.stepper-content {
  margin-right: 20px;
}

.repair-request-steps {
  .mat-step-header.cdk-program-focused:hover{
    background-color: rgba(0, 0, 0, 0);
  }
  
  .mat-step-icon {
    background-color: #FF5E3A;
  }
  .mat-step-icon .mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
  .mat-stepper-vertical-line::before {
    top: -24px;
    bottom: -24px;
    background-color: #FF5E3A;
  }
  
}


.step-content {
  flex: 1;
}

.generic-stepper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mat-card-generic{
  width: 949px;
  padding: 50px 65px;
  background: #F7F4F3;
  border-radius: 15px;
}



.stepper-1-parent{
  display: flex;
  flex-direction: column;
  align-items: center;
  .stepper-1-header-info{
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -0.02em;
    color: #FF5E3A;
    margin-bottom: 76px;
  }
  .stepper-1-warning-message{
    font-weight: 1000;
    font-size: 12px;
    line-height: 20px;
    color: #0D0F1E;
  }
  .stepper-1-form{
    display: flex;
    justify-content: flex-start;
    gap: 110px;
    margin-top: 24px;
  }
  .label-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FF5E3A;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: white;
    border-radius: 15px;
    height: 55px;
  }
  .mat-mdc-form-field-infix {
    width: 317px;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before{
    border: none;
  }
  .mat-mdc-select-value-text{
    color: #FF5E3A;
  }

  /* .mat-mdc-select-arrow {
    opacity: 0;
  } */
}








.service-package-pricing{

  .service-packages-form{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;

    .info-text{
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #FF5E3A;
    }
    .service-package-radio-container{
      display: flex;
      flex-direction: column;
      align-items: center;
    
      .mat-card--serice-packages{
        width: 111px;
        height: 84px;
        text-align: center;
        justify-content: center;
        background: #D9D9D9;
        border-radius: 30px;
      }
    }
  }
}



.stepper-3{
  display: flex;
  flex-direction: column;
}
.stepper-3-upper{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.stepper-3-address-form-left{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap:"30px";
}
.stepper-3-address-form-right{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap:"30px";
}



.stepper-4-bottom-text{
  margin-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #FF5E3A;
}



.stepper-5-address-info{
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #FF5E3A;
}

.stepper-5-address-form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  
  .stepper-5-address-form-rows{
    display: flex;
    flex-direction: row;
    gap:50px;
    width: 100%;
  }
}


.address-form-field-border {
  border: 2px solid #FF5E3A;
  border-radius: 5px;
}







.mat-mdc-button:not(:disabled) {
  color: #FFFFFF;
}


.w-100-p{
  width: 100%;
}

.w-50-p{
  width: 50%;
}

.mt-24{
  margin-top: 24px;
}

.mb-24{
  margin-bottom: 24px;
}
.mb-28{
  margin-bottom: 28px;
}

.click-next{
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  border-radius: 50px;
  text-align: center;
  background: #FF5E3A;
  color: #FFFFFF;
  padding: 24px;
}

.submit-button{
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  border-radius: 50px;
  text-align: center;
  background: #FF5E3A;
  color: #FFFFFF;
  padding: 40px 100px;
}
